services:
  frontend:
    image: ${REGISTRY}/frontend:${TAG}
    networks:
      - gateway
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.club-prod.rule=Host(`club-poisson.duckdns.org`)"
      - "traefik.http.routers.club-prod.entrypoints=websecure"
      - "traefik.http.routers.club-prod.tls.certresolver=myresolver"
      - "traefik.http.routers.club-prod.tls=true"
      - "traefik.http.services.club-prod.loadbalancer.server.port=80"
      - "traefik.docker.network=gateway"
  backend:
    image: ${REGISTRY}/backend:${TAG}
  grafana:
    label:
      - "traefik.enable=true"
      - "traefik.http.routers.club-prod-grafana.rule=Host(`club-poisson-grafana.duckdns.org`)"
      - "traefik.http.routers.club-prod-grafana.entrypoints=websecure"
      - "traefik.http.routers.club-prod-grafana.tls.certresolver=myresolver"
      - "traefik.http.routers.club-prod-grafana.tls=true"
      - "traefik.http.service.club-prod-grafana.loadbalancer.server.port=3000"
         
