services:
  frontend:
    image: ${REGISTRY}/frontend:${TAG}
    ports:
      - "81:80"
  backend:
    image: ${REGISTRY}/backend:${TAG}
  postgres:
    volumes:
      - pgdata:/var/lib/postgresql/data_staging
